/* s */

body {
  font-family: "Source Code Pro", monospace;
  font: normal normal 13px/16px "Source Code Pro", sans-serif;
  background: #d4d6be;
}

h2 {
  text-align: center;
  font-size: 40px;
}

h6 {
  text-align: center;
  font-weight: 600;
}

.container {
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: auto;
  margin-top: 40px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
}

form {
  display: inline-flex;
  border-radius: 5px;
}

input {
  padding: 10px 20px 6px 10px;
  font-size: medium;
  width: auto;
  text-align: center;
  border-radius: 5px;
}

#button {
  display: inline-block;
  border-radius: 5px;
  margin-top: 2px;
  padding: 5px 15px;
  margin: 10px;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

li {
  padding-top: 15px;
  height: 30px;
}

ol {
  font-size: medium;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #025f70;
  font-weight: 800;
}
